---
global:
  cloudHsm:
    enabled: true
    ip: "10.255.151.206"

# whitelist of services external from the cluster
# that we allow egress traffic to.
# see https://istio.io/docs/reference/config/networking/v1alpha3/service-entry/#ServiceEntry
# for the format of the `service` block
egressSafelist:
- name: proxy-node-integration
  service:
    hosts:
      # Stub Connector build
      - test-connector.london.verify.govsvc.uk
      # Stub Connector
      - test-integration-connector.london.verify.govsvc.uk
      # Hub integration
      - www.integration.signin.service.gov.uk
      # Netherlands
      - acc-eidas.minez.nl
      # Denmark
      - eidasconnector.test.eid.digst.dk
      # Sweden
      - qa.connector.eidas.swedenconnect.se
      # Czechia
      - conn.dev.eidasnode.cz
      # Italy
      - connector.pre.eid.gov.it
    ports:
    - name: https
      number: 443
      protocol: TLS
    location: MESH_EXTERNAL
    resolution: DNS

- name: proxy-node-production
  service:
    hosts:
      # Hub production
      - www.signin.service.gov.uk
      # Netherlands
      - eidas.minez.nl
      # Denmark
      - eidasconnector.eid.digst.dk
      # Sweden
      - connector.eidas.swedenconnect.se
      # Czechia
      - conn.eidasnode.cz
      # Italy
      - connector.eid.gov.it
    ports:
    - name: https
      number: 443
      protocol: TLS
    location: MESH_EXTERNAL
    resolution: DNS

- name: sqs-eu-west-2
  service:
    hosts: ["sqs.eu-west-2.amazonaws.com", "eu-west-2.queue.amazonaws.com"]
    ports:
    - name: https
      number: 443
      protocol: TLS
    location: MESH_EXTERNAL
    resolution: DNS
- name: rds-eu-west-2
  service:
    hosts: ["*.eu-west-2.rds.amazonaws.com"]
    addresses: ["10.0.0.0/8"]
    ports:
    - name: postgres
      number: 3306
      protocol: TCP
    location: MESH_EXTERNAL
    resolution: NONE
- name: s3-eu-west-2
  service:
    hosts: ["*.s3.eu-west-2.amazonaws.com"]
    # FIXME: harding s3 endpoint addrs that could potentially change is not
    # ideal. this is workaround until the svc-operator can manage required
    # ServiceEntries or another solution presents itself
    #
    # curl https://ip-ranges.amazonaws.com/ip-ranges.json | jq -r '.prefixes[] | select(.region=="eu-west-2") | select(.service=="S3") | .ip_prefix'
    #
    addresses:
    - 52.95.150.0/24
    - 52.95.148.0/23
    - 52.92.88.0/22
    ports:
    - name: https
      number: 443
      protocol: TLS
    location: MESH_EXTERNAL
    resolution: NONE
- name: ocsp
  service:
    hosts: ["std-ocsp.trustwise.com"]
    ports:
    - name: http
      number: 80
      protocol: HTTP
    location: MESH_EXTERNAL
    resolution: DNS

namespaces:
- name: verify-main
  ingress:
    enabled: true

- name: verify-connector-node-metadata
  owner: alphagov
  repository: verify-metadata
  branch: master
  path: ci/verify
  requiredApprovalCount: 2
  ingress:
    enabled: true

- name: verify-metadata-controller
  owner: alphagov
  repository: verify-metadata-controller
  branch: master
  path: ci/verify
  permittedRolesRegex: "^$"
  requiredApprovalCount: 2
  scope: cluster
  talksToHsm: true

- name: verify-proxy-node-build
  owner: alphagov
  repository: verify-proxy-node
  path: ci/build
  requiredApprovalCount: 2
  talksToHsm: true
  ingress:
    enabled: true
- name: verify-proxy-node-integration
  owner: alphagov
  repository: verify-proxy-node
  path: ci/integration
  requiredApprovalCount: 2
  talksToHsm: true
  ingress:
    enabled: true
- name: verify-proxy-node-prod
  owner: alphagov
  repository: verify-proxy-node
  path: ci/prod
  requiredApprovalCount: 2
  talksToHsm: true
  ingress:
    enabled: true

- name: verify-doc-checking-staging
  owner: alphagov
  repository: doc-checking
  branch: OGD-321/fix-egress-for-ocsp
  path: ci/staging 
  permittedRolesRegex: "^$"
  requiredApprovalCount: 0
  ingress:
    enabled: true
- name: verify-doc-checking-test
  owner: alphagov
  repository: doc-checking
  branch: master
  path: ci/test
  permittedRolesRegex: "^$"
  requiredApprovalCount: 2
  ingress:
    enabled: true
- name: verify-doc-checking-prod
  owner: alphagov
  repository: doc-checking
  branch: master
  path: ci/prod
  permittedRolesRegex: "^$"
  requiredApprovalCount: 2
  ingress:
    enabled: true
- name: verify-doc-checking-build
  owner: alphagov
  repository: doc-checking
  branch: master
  path: ci/build
  permittedRolesRegex: "^$"
  requiredApprovalCount: 0
  ingress:
    enabled: true

extraPermissionsSRE:
  - apiGroups: ["verify.gov.uk"]
    resources: ["certificaterequests", "metadata"]
    verbs:
    - get
    - list
    - watch
extraPermissionsDev:
  - apiGroups: ["verify.gov.uk"]
    resources: ["certificaterequests", "metadata"]
    verbs:
    - get
    - list
    - watch

